*, *::after, *::before{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
}
nav{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
nav .navbar-brand{
    font-family: "Montserrat", sans-serif;
}
nav .nav-link{
    font-family: "Poppins", sans-serif;
}
nav .nav-item a{
    color: #111111;
}
nav .active{
    position: relative;
    width: fit-content;
}
nav .active::after{
    content: "";
    width: 80%;
    height: 2px;
    background-color: #1c1c1c;
    top: 85%;
    left: 10%;
    position: absolute;
    animation: nav-line 0.5s;
}
nav button{
    border-color: transparent !important;
    background-color: transparent;
}
@keyframes nav-line {
    from{
        width: 0;
    }
    to{
        width: 80%;
    }
}
/* end navbar */
/* start home */
#home{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/bg.jpg);
    background-size: cover;
    background-position: center;
    font-family: "Montserrat", sans-serif;
}
#home h5{
    font-size: 50px;
}
#home h1{
    font-size: 60px;
    line-height: 1.2;
}
#home a{
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
}
/* end home */
/* start about */
#about{
    font-family: "Poppins", sans-serif;
}
#about h3{
    font-family: "Montserrat", sans-serif;
    color: #1c1c1c !important;
    font-size: 30px;
    font-weight: 800;
}
#about .content > span{
    letter-spacing: 2px;
}
#aboout p{
    color: rgb(116, 129, 130);
}
#about .progress{
    background-color: #f7f7f7;
    height: 25px;
    border: 1px solid #1c1c1c;
    border-radius: 5px;
    margin-bottom: 30px;
    position: relative;
    border-color: transparent;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
#about .progress .progress-bar{
    font-family: "Montserrat", sans-serif;
    border-color: #1c1c1c;
    background-color: #1c1c1c;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    animation: animate-positive 2s;
}
#about .progress .progress-value{
    font-size: 14px;
    color: #fff;
    padding: 0 15px;
    float: right;
}
#about .progress .progressbar-title{
    font-size: 14px;
    color: #fff;
    padding: 0 15px;
    float: left;
}
@-webkit-keyframes animate-positive{
    0% { width: 0%;}
}
@keyframes animate-positive{
    0% { width:0%; }
}
#about button{
    font-size: 13px;
}
#about .buttons .btn1{
    background-color: #1c1c1c;
}
#about .buttons .btn1:hover{
    background-color: white !important;
    color: #1c1c1c !important;
}
#about .buttons .btn2:hover{
    background-color: #1c1c1c;
    color: white;
}
#about img{
    background-image: linear-gradient(#fbfbfb, #fbfbfb);
}
#about .img{
    position: relative;
}
#about .img::after{
    content: "";
    width: 75%;
    height: 75%;
    background-image: url(../images/dots.png);
    background-repeat: repeat;
    position: absolute;
    top: 21%;
    left: 8%;
    bottom: 0;
    right: 0;
    z-index: -1;
}
/* end about */
/* start services */
#services{
    background-color: #f7f7f7;
    font-family: "Montserrat", sans-serif;
}
#services h3{
    font-weight: 900;
    font-size: 40px;
    position: relative;
    z-index: 0;
}
#services h3::after{
    content: "";
    width: 200px;
    height: 30px;
    background-image: url(../images/dots.png);
    background-repeat: repeat;
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}
#services h6{
    font-weight: 800;
}
#services p{
    font-family: "Poppins", sans-serif;
    word-spacing: 2px;
}
#services i{
    width: 75px;
    height: 75px;
    background-color: #f4f4f4;
    border-radius: 50%;
    transition: all 0.5s;
}
#services .card:hover i{
    background-color: #1c1c1c;
    color: white;
}
#services .card{
    border-color: transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* end services */
/* start portfolio */
#portfolio{
    font-family: "Montserrat", sans-serif;
}
#portfolio h3{
    font-weight: 900;
    font-size: 40px;
    position: relative;
}
#portfolio h3::after{
    content: "";
    width: 200px;
    height: 30px;
    background-image: url(../images/dots.png);
    background-repeat: repeat;
    position: absolute;
    top: 75px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}
#portfolio .caption{
    background-color: #FFFFFFF2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transform: translateY(5%);
    transition: all 0.5s;
    margin: 5px;
}
#portfolio .portfolio-card:hover .caption{
    transform: translateY(0%);
    opacity: 1;
}
#portfolio h6{
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 12px;
    color: #1c1c1c;
    transform: translatey(70%);
    transition: all 0.5s;
}
#portfolio i{
    color: white;
    font-size: 14px;
    border-radius: 50%;
    background-color: #1c1c1c;
    width: 25px;
    height: 25px;
    border: 1px solid #1c1c1c;
    transform: translatey(10%);
}
#portfolio a:hover i{
    background-color: white;
    color: #1c1c1c;
}
#portfolio .portfolio-card:hover h6{
    transform: translatey(85%);
}
#portfolio .portfolio-card:hover i{
    transform: translatey(0%);
}
#portfolio ul{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}
#portfolio ul .active{
    position: relative;
}
#portfolio ul .active::after{
    content: "";
    width: 65%;
    height: 2px;
    background-color: #1c1c1c;
    top: 85%;
    left: 17.5%;
    position: absolute;
    animation: ul-line 0.5s;
}
@keyframes ul-line {
    from{
        width: 0;
    }
    to{
        width: 65%;
    }
} 
/* end portfolio
/* start works */
#clients{
    background-color: #f7f7f7;
    font-family: "Poppins", sans-serif;
}
#clients h3{
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 40px;
    position: relative;
    z-index: 0;
}
#clients h3::after{
    content: "";
    width: 290px;
    height: 30px;
    background-image: url(../images/dots.png);
    background-repeat: repeat;
    position: absolute;
    top: 75px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}
#clients h6{
    font-family: "Montserrat", sans-serif;
}
#clients img{
    width: 100px;
    height: 100px;
}
#clients .carousel-indicators{
    bottom: -30px;
}
#clients .carousel-indicators button{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #869791;
    margin: 0 7px;
}
#clients span{
    font-size: 12px;
}
/* end works */
/* start counter */
#counter h3{
    font-weight: 900;
    font-family: "Montserrat", sans-serif;
}
#counter p{
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}
/* end counter */
/* start team */
#team{
    font-family: "Montserrat", sans-serif;
    background-color: #f7f7f7;
}
#team h3{
    font-weight: 900;
    font-size: 40px;
    position: relative;
    z-index: 0;
}
#team h3::after{
    content: "";
    width: 220px;
    height: 30px;
    background-image: url(../images/dots.png);
    background-repeat: repeat;
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}
#team .card{
    border-radius: 0 0 10px 10px;
}
#team .card-body{
    background-color: #5a5a5a;
    border-radius: 0 0 10px 10px;
}
#team img{
    transition: all 0.5s;
}
#team .card-top:hover img{
    transform: scale(1.2);
}
#team .caption{
    background-color: #FFFFFFF2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
    transition: all 0.6s;
    margin: 5px;
    transform: rotateY(180deg);
    opacity: 0;
}
#team .caption{
    transition: all 0.6s;
}
#team .card:hover .caption{
    transform: rotateY(0);
    opacity: 1;
}
#team i{
    color: white;
    border-radius: 50%;
    background-color: #1c1c1c;
    width: 35px;
    height: 35px;
    border: 1px solid #1c1c1c;
}
#team a:hover i{
    background-color: white;
    color: #1c1c1c;
}
/* end team */
/* start contact */
#contact{ 
    font-family: "Poppins", sans-serif;
}
#contact h3{
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 40px;
    position: relative;
}
#contact h3::after{
    content: "";
    width: 250px;
    height: 30px;
    background-image: url(../images/dots.png);
    background-repeat: repeat;
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}
#contact h6{
    font-weight: 800;
    font-family: "Montserrat", sans-serif;
}
#contact p{
    word-spacing: 2px;
    font-size: 15px;
}
#contact i{
    width: 75px;
    height: 75px;
    background-color: #f4f4f4;
    border-radius: 50%;
    transition: all 0.5s;
}
#contact .card:hover i{
    background-color: #1c1c1c;
    color: white;
}
#contact .card{
    border-color: transparent;
}
#contact input , textarea{
    background-color: #f4f4f4 !important;
    border-color: transparent !important;
    border-radius: 5px;
}
#contact .btn{
    background-color: #1c1c1c !important;
    font-size: 13px;
}
#contact .btn:hover{
    background-color: white !important;
    color: #1c1c1c !important;
}
/* end contact */
/* start footer */
footer{
    background-color: #1c1c1c;
    color: #748182;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
}
.form-control{
    box-shadow: none !important;
}